
###> symfony/framework-bundle ###
/.env
/public/bundles/

/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/_/*.pem
###< lexik/jwt-authentication-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###

###> PhpStorm  ###
/.idea/
###> PhpStorm  ###

###> App ###
/public/assets/images/logo/*
/public/assets/images/media/misc/*
/public/assets/images/users/*